<div class="container">
  <div class="col-md-12">
    <form [formGroup]="loginForms" (ngSubmit)="viaLogin(loginForms)">
      <div class="row justify-content-center">
        <div class="col-md-6 mt-4">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" name="email" placeholder="Enter Email" >
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 mt-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" name="password" placeholder="Enter Password" >
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4">
      <button type="submit" class="btn btn-primary" [disabled]=loginForms.invalid>Login</button>

    </div>
  </div>
        
    </form>
  </div>
</div>