  <!-- <div class="container">
  <section class="col-12 col-md-9">
    <div class="row">
      <section class="col-12">
        <div class="row">
            <div class="card">
                <div class="row card-header m-0">
                  <div class="col-md-4">
                    <p>Search summary</p>
                  </div>
                  <div class="col-md-6"></div>
                  <div class="col-md-2">
                    <a href="#" class="btn btn-primary">Modify</a>
                  </div>
                </div>
                
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
        </div>
      </section>
      <section class="col-12">
          <div class="row border mt-3">
              <div class="col-md-9 border-right">
                
                  <div class="col-md-12 text-center">
                    <div class="row p-0 m-0">
                      <div class="col-md-3 text-center">
                        <img class="flight-log" style="padding-top: 8px;" src="/assets/images/AI.png">
                        <p>A1-60</p>
                      </div>
                      <div class="col-md-6 mt-3">
                        <div class="row">
                          <div class="col-md-5 text-center">
                            <span class="vertically-aligned">BLR</span>
                            <span class="vertically-aligned ml-2">19:10</span>
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-md-5 text-center">
                            <span class="vertically-aligned">BLR</span>
                            <span class="vertically-aligned ml-2">19:10</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 text-center">
                        <span class="vertically">4h 3m</span>
                        <span class="vertically ml-1">1 Stop</span>
      
                      </div>
                    </div>
                  </div>
                
              </div>
              <div class="col-sm-12 col-md-3 mt-2">
                <div class="pb-2">
                  <button type="search" class="btn btn-warning ml-5 mt-3">Select Flight</button>
                </div>
              </div>
            </div>
            <div class="row border mt-3">
                <div class="col-md-9 border-right">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <div class="row p-0 m-0">
                        <div class="col-md-3 text-center">
                          <img class="flight-log" style="padding-top: 8px;" src="/assets/images/AI.png">
                          <p>A1-60</p>
                        </div>
                        <div class="col-md-6 mt-3">
                          <div class="row">
                            <div class="col-md-5 text-center">
                              <span class="vertically-aligned">BLR</span>
                              <span class="vertically-aligned ml-2">19:10</span>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-5 text-center">
                              <span class="vertically-aligned">BLR</span>
                              <span class="vertically-aligned ml-2">19:10</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 text-center">
                          <span class="vertically">4h 3m</span>
                          <span class="vertically ml-1">1 Stop</span>
        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-3 mt-2">
                  <div class="pb-2">
                    <button type="search" class="btn btn-warning ml-5 mt-3">Select Flight</button>
                  </div>
                </div>
              </div>
      </section>
    </div>
  </section>
</div>   -->
















  <div class="container"> 
    <div class="row">
      <div class="col-md-12">
        <div class="row mt-5">
          <div class="card">
            <div class="row card-header m-0">
              <div class="col-md-2">
                <p>Search summary</p>
              </div>
              <div class="col-md-8"></div>
              <div class="col-md-2">
                <a href="#" class="btn btn-primary">Modify</a>
              </div>
            </div>
            
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
  
        <div class="row border mt-3">
          <div class="col-md-9 border-right">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="row p-0 m-0">
                  <div class="col-md-3 text-center">
                    <img class="flight-log" style="padding-top: 8px;" src="/assets/images/AI.png">
                    <p>A1-60</p>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div class="row">
                      <div class="col-md-5 text-center">
                        <span class="vertically-aligned">BLR</span>
                        <span class="vertically-aligned ml-2">19:10</span>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-5 text-center">
                        <span class="vertically-aligned">BLR</span>
                        <span class="vertically-aligned ml-2">19:10</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 text-center">
                    <span class="vertically">4h 3m</span>
                    <span class="vertically ml-1">1 Stop</span>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <div class="pb-2">
              <button type="search" class="btn btn-warning ml-5 mt-3">Select Flight</button>
            </div>
          </div>
        </div>
        <div class="row border mt-3">
          <div class="col-md-9 border-right">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="row p-0 m-0">
                  <div class="col-md-3 text-center">
                    <img class="flight-log" style="padding-top: 8px;" src="/assets/images/9W.png">
                    <p>A1-60</p>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div class="row">
                      <div class="col-md-5 text-center">
                        <span class="vertically-aligned">BLR</span>
                        <span class="vertically-aligned ml-2">19:10</span>
                      </div>
                      <div class="col-md-2"></div>
                      <div class="col-md-5 text-center">
                        <span class="vertically-aligned">BLR</span>
                        <span class="vertically-aligned ml-2">19:10</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 text-center">
                    <span class="vertically">4h 3m</span>
                    <span class="vertically ml-1">1 Stop</span>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-2">
            <div class="pb-2">
              <button type="search" class="btn btn-warning ml-5 mt-3">Select Flight</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  